* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #070a0e;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}
.head {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 50%),
    url("computer2.jpg") no-repeat;
  width: 100%;
  background-size: cover;
}
/*******************************Navigation Bar**************************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #060e1b;
  color: white;
  cursor: pointer;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  left: 0;
  top: 0px;
}
.logo {
  font-size: 30px;
  font-weight: 400;
  text-shadow: 0px 0px 15px #d61c6a;
}
.nav-links {
  list-style: none;
  display: flex;
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.nav-menu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 0px 15px;
  transition: 0.3s ease;
}
.nav-menu a:hover {
  cursor: pointer;
  font-size: 22px;
  color: aqua;
  text-decoration: underline;
  text-shadow: 0px 0px 8px aqua;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
  background: none;
  border: none;
  color: white;
}
/* ****************************Responsive for min phones******************************* */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .logo {
    font-size: 30px;
  }

  .nav-links {
    top: 50px;
    padding: 20px;
  }

  .nav-menu a {
    padding: 12px;
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #070a0e;
    height: 200px;
    text-align: center;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
    padding-right: 30px;
    border: 2px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 1px 1px 1px 1px;
    font-size: 25px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px 3px aqua;
    animation: border 5s linear infinite;
  }
}
@keyframes border {
  from {
    rotate: (border(360deg));
  }
  to {
    opacity: 0;
  }
}
/************************************Home page*********************************/
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 25px;
  padding-top: 10rem;
}
#hero h2 {
  font-size: 50px;
  color: aqua;
  animation: slideLeft 1.5s ease-out forwards;
}
@keyframes slideLeft {
  from {
    margin-left: 50%;
  }
  to {
    right: 0;
  }
}
#hero h1 {
  color: #e2a420;
  font-size: 35px;
  animation: slideRight 1.5s ease-out forwards;
}
@keyframes slideRight {
  from {
    margin-right: 50%;
  }
  to {
    left: 0;
  }
}
#hero p {
  padding: 20px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  line-height: 1, 6;
  max-width: 600px;
}
#hero p span {
  color: #900c3f;
  font-size: 20px;
  font-weight: 600;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  text-decoration: none;
  color: rgb(240, 255, 12);
  border: 2px solid rgb(240, 255, 12);
  border-radius: 25px;
  text-transform: uppercase;
  font-family: probo;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
}
/*********************************Social-Meadia Css*************************************/
.social-links {
  margin-top: 20px;
  transition: 1s;
}
.social-links a i {
  color: rgb(10, 177, 177);
  cursor: pointer;
  transition: 1s;
  font-size: 40px;
  text-decoration: none;
}
.social-links a .bx {
  padding: 3px;
  border: 3px solid rgb(15, 172, 132);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.social-links .bx:hover {
  box-shadow: 0px 0px 30px 10px rgb(10, 177, 177);
}
/********************************responsive social-links********************************/
@media (max-width: 600px) {
  #hero p {
    margin-top: 25px;
  }
  #hero h2 {
    font-size: 35px;
    font-weight: bold;
  }
  #hero h1 {
    font-size: 25px;
  }
  .btn {
    font-size: 20px;
    padding: 10px 15px;
  }
  .social-links a {
    font-size: 20px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  #hero {
    padding: 5rem 40px;
  }
  #hero h2 {
    font-size: 5rem;
  }
  #hero h1 {
    font-size: 3rem;
  }
  #hero p {
    margin-top: 25px;
    font-size: 25px;
  }
  .btn {
    font-size: 30px;
    padding: 10px 15px;
  }
}

/********************************Skills-boxes**********************************/
.Skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: justify;
  gap: 20px;
  padding: 40px 20px;
  text-align: center;
}
h2 {
  text-align: center;
  color: #900c3f;
  font-size: 50px;
  font-weight: 600;
  margin-top: 30px;
}
p {
  color: white;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.skill-box {
  background: linear-gradient(
    rgba(60, 60, 182, 0.9),
    rgba(167, 62, 62, 0.9),
    rgba(69, 189, 69, 0.9)
  );
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 0px 10px rgb(50, 108, 156, 0.1);
  max-width: 300px;
  text-align: center;
  margin: auto;
  height: 350px;
  transition: transform 0.1s ease-in-out;
}
.skill-box h3 {
  margin-bottom: 10px;
  color: rgb(95, 209, 243);
  font-size: 35px;
  margin: 10px;
}
#S-B .skill-box p {
  color: rgb(236, 233, 233);
  font-size: 17px;
  font-family: "Lucida Sans";
}
.skill-box p span {
  color: rgb(245, 4, 24);
}
.skill-box .bx {
  font-size: 50px;
  border: 3px solid black;
  color: red;
  border-radius: 50%;
  background-color: white;
  height: 70px;
  width: 70px;
  padding-top: 7px;
}
/********************************responsive Skills********************************/
@media (max-width: 600px) {
  .skill-box {
    width: 90%;
  }
  .Skills {
    flex-direction: column;
    align-items: center;
  }
  .skill-box p {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
    color: aqua;
  }
}
@media (max-width: 601px) and (max-width: 1024) {
  .Skills {
    justify-content: space-evenly;
  }
  .skill-box {
    max-width: 45%;
  }
}
@media (min-width: 1025) {
  .Skills {
    justify-content: space-between;
  }
  .skill-box {
    max-width: 30%;
  }
}
/********************************Projects css***************************************/

#Project {
  text-align: center;
  padding: 40px 20px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
#Projects p {
  font-size: 20px;
  font-family: system-ui, -apple-system;
}
.projects-container p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.project-box {
  background: linear-gradient(rgba(185, 44, 110, 0.6), rgba(85, 218, 223, 0.6));
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 1px 0 2px 5px rgba(86, 108, 206, 0.2);
  transition: transform 1s ease-in-out;
  margin-top: 30px;
}
.project-box:hover {
  box-shadow: 5px 5px 10px 5px rgb(106, 106, 112);
}
.project-box img {
  width: 300px;
  border-radius: 5px;
  height: 200px;
}
.project-box h3 {
  margin: 10px 0;
  font-size: 30px;
  color: rgb(77, 202, 233);
  font-weight: 600;
}
.project-box p {
  font-size: 10px;
  color: #dad3d3;
  text-align: justify;
}
.project-box a {
  display: inline-block;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3rem;
  padding: 8px 15px;
  font-size: 20px;
  text-transform: uppercase;
  background: rgb(114, 4, 72);
  color: rgb(240, 225, 12);
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid rgb(240, 225, 12);
  font-weight: bold;
}

@media (max-width: 600px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }
  #Projects h2 {
    font-size: 30px;
  }
  #Project p {
    font-size: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  }
}
@media (max-width: 601px) and (max-width: 1024) {
  .projects-container {
    justify-content: space-evenly;
  }
  .project-box {
    max-width: 45%;
  }
  #Project p {
    font-size: 25px;
  }
}
@media (min-width: 1025) {
  .projects-container {
    justify-content: space-between;
  }
  .project-box {
    max-width: 30%;
  }
}
/******************************************About me************************************/
#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  animation: fadeIn 5s ease-in infinite;
  border: 2px solid aqua;
  box-shadow: 0px 0px 50px 5px aqua;
  transition: 1s;
  z-index: -1;
  position: relative;
  margin-top: 30px;
}
.content {
  flex: 2;
  animation: slideIn 1.5s ease-in-out;
}
.p {
  color: #ece7e7;
  max-width: 800px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
/****************************Responsive for phones********************************/
@media (min-width: 600px) {
  .p {
    font-size: 25px;
  }
}
@media (min-width: 601px) and (max-width: 1024) {
  #container {
    flex-direction: column;
  }
  .image {
    max-width: 400px;
  }
}
@media (min-width: 1228px) {
  #container {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
  .content {
    max-width: 50%;
  }
}
/**************************************Contact Page css******************************************/
#Contact {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  text-align: left;
}
.contact-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 90, 0, 0.1);
}
.contact-container h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}
label {
  color: white;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 3px solid #07adad;
  border-radius: 10px;
  background-color: transparent;
  font-size: 25px;
  color: rgb(235, 225, 225);
}
.btn2 {
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 10px;
  background: #012244;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 1s;
}
.btn2:hover {
  background: #0056b3;
}
.error {
  color: red;
  font-size: 20px;
  margin-top: 5px;
  display: none;
}
input {
  font-size: 20px;
} /* ****************************Responsive for  phones******************************* */
@media (max-width: 600px) {
  .contact-container {
    padding: 15px;
  }
  .contact-container h2 {
    font-size: 30px;
  }
  input,
  textarea {
    font-size: 20px;
  }
  .btn2 {
    font-size: 20px;
  }
}
@media (min-width: 601px) and (max-width: 1024) {
  .contact-container {
    max-width: 80%;
  }
}
@media (max-width: 1024) {
  .contact-container {
    display: flex;
  }
}